.playerCard{
  margin: 40px 0;
}

.player {
  border-radius: 20px;
  background: #EFEEEE;
  min-height: 150px;
  width: 90%;
  min-width: 365px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  box-shadow: #FFFFFF -6px -6px 16px,
              #D1CDC7 6px 6px 16px;
}

.player:last-child {
  margin: 0 auto;
}

.rankPlayer,
.partner {
  margin: auto 0;
  font-size: 3em;
  box-shadow: #FFFFFF -6px -6px 16px,
              #D1CDC7 6px 6px 16px;
  border-radius: 20px;
  padding: 20px;
}

.rankPlayer:hover, .partner:hover{
  box-shadow: inset #FFFFFF -6px -6px 16px,
              inset #D1CDC7 6px 6px 16px;
  border-radius: 20px;
}

.rankPlayer p,
.partner p{
  font-size: 12px;
  margin: 0;
}

.infos {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  font-size: 2.5em;
}

.infos .age{
  font-size: 24px;
}

.infos div {
  margin: auto 0;
}

.playerDelete {
  height: 100%;
  margin: auto 0;
  padding: 20px;
  box-shadow: #FFFFFF -6px -6px 16px,
              #D1CDC7 6px 6px 16px;
  border-radius: 20px;
}

.playerDelete:hover{
  box-shadow: inset #FFFFFF -6px -6px 16px,
              inset #D1CDC7 6px 6px 16px;
  border-radius: 20px;
}

.playerDelete img {
  width: 32px;
  height: 32px;
}
