.navbar li {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #EFEEEE;
  margin: 0 auto;
  width: 90%;
  border-radius: 20px;
  box-shadow: #FFFFFF -6px -6px 16px,
              #D1CDC7 6px 6px 16px;
}

.navlink {
  font-size: 1.6em;
  font-family: Arial, serif;
  color: #ff8a45;
  box-shadow: #FFFFFF -6px -6px 16px,
              #D1CDC7 6px 6px 16px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #EFEEEE;
}

a:link,
a:visited {
  text-decoration: none;
  color: #ff8a45;
}

.active {
  box-shadow: inset #FFFFFF -6px -6px 16px,
              inset #D1CDC7 6px 6px 16px;
}


@media screen and (max-width: 720px){
  .navlink{
    font-size: 1em;
    margin: 0;
    padding: 10px 5px;
  }

  .navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
  }
}
